
{%block content %}
	<div class = "vignette" id = "templateId">
		{{ interactionText }}
		{{ domainField }}
		<div id ="aFields">
			{{ descTexta }}
			{{ VarTexta }}
			{{ levelsa1 }}
			{{ levelsa2 }}
			{{ levelsa3 }}
		</div
		<div id ="bFields">
			{{ descTextb }}
			{{ VarTextb}}
			{{ levelsb1 }}
			{{ levelsb2 }}
			{{ levelsb3 }}
		</div
		<div id ="cFields">
			{{ descTextc }}
			{{ VarTextc }}
			{{ levelsc1 }}
			{{ levelsc2 }}
			{{ levelsc3 }}
		</div
		<div id ="dFields">
			{{ descTextd }}
			{{ VarTextd }}
			{{ levelsd1 }}
			{{ levelsd2 }}
			{{ levelsd3 }}
		</div
	</div>
	
	<input type="hidden" id = "countVals" name="countVals" value="count">

{% endblock %}
	
